/* H-Bold */
@font-face {
    font-family: "H-Bold";
    src: url("./fonts/H-Bold.woff2") format("woff2");
}
.hbold {
    font-family: "H-Bold";
}

/* H-Book */
@font-face {
    font-family: "H-Book";
    src: url("./fonts/H-Book.woff2") format("woff2");
}
.hbook {
    font-family: "H-Book"
}

textarea {
    min-height: 20px;
    min-width: 250px;
    font-family: "H-Book";
    outline-color: #ffba4a;
    border: 2px solid #dddddd;
}

input {
    outline: none;
}
